body {
    background-image: linear-gradient(#153261, #32C1B4);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.gifBtn {
    background-color: #BEFEF9;
}

#nav {
    background-image: linear-gradient(to right, #32C1B4, #E3E5E6, #a3aaad);
    text-align: center;
    border-radius: 20px;
}

#navText {
    color: #153261;

}

#asside {
    background-color: #E3E5E6;
    color: #22645E;
    border: 2px solid #153261;
}

#btnBox {
    background-color: #32C1B4;
    border-radius: 10px;
}

#message {
    background-color: #32C1B4;
    border-radius: 40px;
    margin: 20px;
}

#message p {
    color: #E3E5E6;
    padding: 5px;
    text-align: center;
    background-color: #153261;
    font-size: 30px;
    border-radius: 25px;
    margin-top: 14px;
    font-style: bold;
}